---

bootstrap_host_loopback_swap_size: {{ 16 * 1024 }}
security_rhel7_session_timeout: 0
user_external_repos_list:
  - name: "lnav"
    repo: "https://download.opensuse.org/repositories/home:nicolasbock:lnav/openSUSE_Leap_{{ ansible_distribution_version }}"
    auto_import_keys: yes
    autorefresh: yes
user_package_list:
  - name: lnav
    state: present
  - name: libsqlite3-0-3.25.2-223.1.x86_64
    state: present
